<!-- <h1>Guided Critical Analysis</h1>
<p>In this guided article review, we'll both read the same journal article. Then, you'll be guided through an analysis of the paper. Let's begin by reading the paper!</p>
<a href="http://up.csail.mit.edu/other-pubs/las2014-pguo-engagement.pdf">View PDF</a>
<p>This is a **DEMO**</p>
<div class="chatgpt_wrapper">
    <div class="chatgpt_block">
        <div class="chatbox">
            <div id="chat-logs">
                <p class="questions">What is your name?</p>
            </div>
            <div class="chat-input">
                <span id="error-msg"></span>
                <textarea id="chat-msg" placeholder="Enter Prompt ... " rows="5" cols="230"></textarea>
                <button id="send-btn">Submit</button>
                <button id="skip-btn">Skip Question</button>
            </div>
        </div>
    </div>
</div> -->

{% load i18n l10n %}

<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
    <form id="guided_rubric_form" action="">
        <ul class="list-input settings-list">

            <li class="field comp-setting-entry is-set">
                <div class="wrapper-comp-setting">
                    <label class="label setting-label" for="assistant_name">{% trans field_assistant_name.display_name %}</label>
                    <input class="input setting-input" name="assistant_name" id="assistant_name" value="{{ guided_rubric_xblock.assistant_name }}" type="text" />
                </div>
                <span class="tip setting-help">{% trans field_assistant_name.help %}</span>
            </li>
            
            <input type="hidden" id="json_phases" value="{{ guided_rubric_xblock.phases }}"></input>
            <input type="hidden" id="last_phase_id" value="{{ guided_rubric_xblock.last_phase_id }}"></input>
            {% for block_phase in guided_rubric_xblock.block_phases %}
                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label" for="phase_name_{{ block_phase.phase_id }}">Phase Name</label>
                        <input class="input setting-input phase-input" id="phase_name_{{ block_phase.phase_id }}" name="phase_name_{{ block_phase.phase_id }}" value="{{ block_phase.phase_name }}" type="text" required/>
                    </div>
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label" for="phase_question_{{ block_phase.phase_id }}">Question</label>
                        <input class="input setting-input phase-input" id="phase_question_{{ block_phase.phase_id }}" name="phase_question_{{ block_phase.phase_id }}" value="{{ block_phase.phase_question }}" type="text" required/>
                    </div>
                </li>            
            {% endfor %}
            
        </ul>
    </form>


    <div id="guided_rubric_add_phase" class="guided_rubric_container_add_button">
        <h6>
            {% trans "Add Phase" %}
        </h6>
    </div>



    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
            </li>
            <li class="action-item">
                <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
            </li>
        </ul>
    </div>
</div>

